<%= form_for(@inventory) do |f| %>
  <% if @inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
      <% @inventory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%=@inventory.inspect%>

  <% if @inventory.nil? %>
    <p>Inventory appears to be empty!</p>
  <% else %>
    <table>
      <tr>
        <td>Inventory Item</td>
        <td>Quantity</td>
        <td>Status</td>
      </tr>
    <% @inventory.each do |i| %>
      <tr>
        <td><%#get ingredient name %></td>
        <td><%= i.quantity %></td>
        <td><% if i.quantity < i.warning %>
          <%= oh noooo! %>
        <% end %></td>
    <% end %>
    </tr></table>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
