<%= nested_form_for(@inventory) do |f| %>
  <% if @inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
      <% @inventory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%=@inventories.inspect%>
<% if @inventories %>
<% @inventories.each do |item|%>
<%=item.quantity%>
<%%>
<div class="field"> 
  <%= f.label :set_warning_amt %>
  <%= f.text_field :warning %>
</div>
<%end%>
<%else%>
<%= "you have no inventories. go to foods and add some ingredients"%>
<div class="field"> 

  <%= f.label :set_warning_amt %>
  <%= f.text_field :warning %>
</div>
<%end%>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
