<h1>Listing inventories</h1>

<table class="all">
  <tr>
    <th>Name</th>
    <th>Quantity</th>
    <th>Warning Level</th>
    <th>Market Price</th>
  </tr>
<% @myinventory.each do |inv| %>
  <% @myingredients.each do |ingredient| %>
    <tr>
      <% if inv.ingredient_id.to_i == ingredient.id %>
        <td><%= ingredient.ingredient_name %></td>
        <td><%= inv.quantity %> units</td>
        <td><%= inv.warning %> units</td>
        <td><%= number_to_currency(ingredient.market_price.to_f/100, :precision => 2, :strip_insignificant_zeros => true) %></td>
      <% end %>
    </tr>
  <% end %>
<% end %>
<p>

  <%= form_tag "/inventory/replenish_all", method: "post" do %>
    <%= submit_tag "Replenish all" %>
    <span>Cost: <%= number_to_currency(@replenish_charge.to_f/100, :precision => 2, :strip_insignificant_zeros => true) %></span>
  <% end %>
</p>

<%= link_to 'New Inventory', new_inventory_path %>
