<h1>Listing inventories</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<%= @myinventory.inspect%>
</br>
</br>
<%= @myingredients.inspect%>
</br>
</br>
</br>
</br>
<%@myinventory.each do |inventory|%>
  <%@myingredients.each do |ingredient|%>
<%if inventory.ingredient_id.to_i == ingredient.id%>
<%= ingredient.ingredient_name%>
<%= inventory.quantity%>
<%= inventory.warning%>
<%end%>
<%end%>
<%end%>
<p>
  User <%= current_user.email %> should be able to replenish inventories here with one click!
  <%= form_tag "/inventory/replenish_all", method: "post" do %>
    <%= submit_tag "Replenish all" %>
  <% end %>
</p>

<%= link_to 'New Inventory', new_inventory_path %>
