<h1>Listing inventories</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @myinventory.inspect%>
</br>
</br>
<% @myingredients.inspect%>
</br>
</br>
</br>
</br>

<%@myinventory.each do |inv|%>
<%@var = inv%>
  <%@myingredients.each do |ingredient|%>
<%if inv.ingredient_id.to_i == ingredient.id%>
<%= ingredient.ingredient_name%>
<%= inv.quantity%>units
<%= inv.warning%>units
$<%= ingredient.price_current%>
</br>
<%end%>
<%end%>
<%end%>
<p>

  <%= form_tag "/inventory/replenish_all", method: "post" do %>
    <%= submit_tag "Replenish all" %>
  <% end %>
</p>

<%= link_to 'New Inventory', new_inventory_path %>
